<% include headerAndSide.ejs %>
<!DOCTYPE html>
<html>
<head>
    <title>Contact form using Bootstrap 3.3.4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin.css">

    
</head>
<body style="background-color: #7e7e7e">
	<div class="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
          </li>
	  <li class="breadcrumb-item">
            <a href="/coattain">CO Attainment</a>
          </li>
          
        </ol>

        <div class="col-sm-12 col-sm-offset-3">




    <div class="well" style="margin-top: 5%;">

    <h3>Add Course</h3>
    <form role="form" id="contactForm123" data-toggle="validator" class="shake" method="post" action="/virtualPage8">
       

          <div class="form-group">
           <br>
           Course ID
           <input type="text" class="form-control" name="courseID" placeholder="Course ID">
        </div>

        <div class="form-group">
           <br>
           Course Name
           <input type="text" class="form-control" name="courseName" placeholder="Course Name">
        </div>

        
        <br>
              <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
          </form>
          </div>
           <hr>
           <br><br>


    </form>












<div class="well" style="margin-top: 5%;">

    <h3>Add Course Outcome</h3>
    <form role="form" id="contactForm123" data-toggle="validator" class="shake" method="post" action="/virtualPage9">
       

        <div class="form-group">
          <label for="sel1">Select Course</label>
          <select class="form-control" id="sel1" name="courseName">
           <% obj.forEach(function(rows,index){%>
            <option name="<%= rows.courseName %>"><%= rows.courseName %></option>
          <% }); %>
          </select>
        </div>

        <div class="form-group">
           <br>
           Course Outcome ID
           <input type="text" class="form-control" name="coID" >
        </div>

        <div class="form-group">
           <br>
           Text
           <input type="text" class="form-control" name="text" >
        </div>

        <div class="form-group">
           <br>
           Indirect Attain
           <input type="text" class="form-control" name="indirectAttain" >
        </div>
        
        <br>
              <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
          </form>
          </div>
           <hr>
           <br><br>


    </form>

















    <h3>CO Attainment</h3>
    <form role="form" id="contactForm123" data-toggle="validator" class="shake" method="post" action="/virtualPage7">
       

  <div class="form-group">
    <label for="sel1">Select Course Outcome</label>
    <select class="form-control" id="sel1" name="coID">
     <% obj.forEach(function(COrows,index){%>
      <option name="<%= COrows.coID %>"><%= COrows.coID %></option>
    <% }); %>
    </select>
  </div>


  <div class="form-group">
     <br>
     Tool
     <input type="text" class="form-control" name="tool" >
  </div>

  <div class="form-group">
     <br>
     Target % of marks
     <input type="text" class="form-control" name="targetMark" >
  </div>

  <div class="form-group">
     <br>
     Target % of students
     <input type="text" class="form-control" name="targetStud" >
  </div>

	<div class="form-group">
	   <br>
	   Weightage
	   <input type="text" class="form-control" name="weightage" >
	</div>
<!--
	<div class="form-group">
	   <br>
	   Total marks
	   <input type="text" class="form-control" name="totalMark" >
	</div>
-->
	<div class="form-group">
	   <br>
	    Minimum Marks
	   <input type="text" class="form-control" name="minMark" >
	</div>

	<div class="form-group">
	    <br>
	    Number of Successful Students
	   <input type="text" class="form-control" name="numStud" >
	</div>

  <div class="form-group">
      <br>
      Total Students
     <input type="text" class="form-control" name="totalStud" >
  </div>
  <br><br>

  <h4>Target Level Percentage</h4>
  <div class="form-group">
      Low
     <input type="text" class="form-control" name="low" >
  </div>

  <div class="form-group">
      <br>
      Moderate
     <input type="text" class="form-control" name="mod" >
  </div>

  <div class="form-group">
      <br>
      High
     <input type="text" class="form-control" name="high" >
  </div>

	
	<br>
        <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
        <div class="clearfix"></div>
    </form>
    </div>
     <hr>
     <br><br>

	   

     <div>


     </div>



<% Object.keys(obj).forEach(function(key){ %>
   
   <%- obj %>
<%}); %>


</body>
</html>