<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Learning Outcome Attainment Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script src="../assets/plugins/flot/jquery.js"></script>


     <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">

      <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
      </div>


    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" > -->
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="../assets/images/images.jpg"  /> -->
                            
                        </b>
                    <!-- </a> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li> -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <div > 
                            <a href="/logout" class="btn btn-outline-secondary btn-lg pull-right">Logout</a>
                       </div>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav active">
                    <ul id="sidebarnav" class="in">
                        <li>
                            <a href="/template.xslx" download>
                                <div name="download"  id="download" class="btn btn-success btn-md ">Download Excel Template</div>
                            </a>
                        </li>

                        <li>
                            <a href="/dashboard" class="waves-effect active"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="/report?course=<%=url.course%>" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Report Generation</a>
                        </li>
                        
                        <li>
                            <a href="/coattain?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>CO Attainment</a>
                        </li>

                        <li>
                            <a href="/poattainment?course=<%=url.course%>" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>PO Attainment</a>
                        </li>
                    
                        <li>
                            <a href="/timetable" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Time Table</a>
                        </li>

                        <!-- <li>
                            <a href="/dashboard" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Syllabus-text books</a>
                        </li> -->

                        <li>
                            <a href="/courseobj?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Course Objectives</a>
                        </li>

                        <li>

                            <a href="/lectureplan?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Lecture Plan</a>
                        </li>
                        
                        <li>
                            <a href="/timetable?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Lab assignments</a>
                        </li>

                        <li>
                            <a href="/timetable?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Curriculum Gap</a>
                        </li>

                        <li>
                            <a href="/timetable?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>List of Experiments</a>
                        </li>

                        <li>
                            <a href="/timetable?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Lab Manual</a>
                        </li>
                        
                        <li>
                            <a href="/timetable?course=<%=url.course%>" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Unit Test Question Papers</a>
                        </li>
                        
                       
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


  <div class="page-wrapper" style="min-height: 511px;">
      <div class="container-fluid">
        	<div class="content-wrapper">
              

                 <form role="form" data-toggle="validator" class="shake" method="post" action="/CourseObj">

                         <!-- Add button seen  -->
                        <div class="input-group control-group after-add-more">
                            <div class="input-group-btn"> 
                              <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                            </div>
                        </div>

                         <!-- input boxes to display data -->
                        <% objectives.forEach(function(rows,index) { %>
                        <% for(var i in rows.objectives)  {%>
                        <div class="control-group input-group" style="margin-top:10px">
                            <input type="text" name="addmore[]" class="form-control" value="<%= rows.objectives[i] %>">
                            <div class="input-group-btn"> 
                              <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                            </div>
                        </div>
                        <% } %>  
                        <% }); %>

                        <!-- The input boxes which will be displayed on add button click -->
                        <!-- Copy Fields -->
                        <div class="copy hide">
                          <div class="control-group input-group" style="margin-top:10px">
                            <input type="text" name="addmore[]" class="form-control" placeholder="">
                            <div class="input-group-btn"> 
                              <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                            </div>
                          </div>
                        </div>
 
          <!-- </div>
      </div>  -->
                        <script type="text/javascript">
                            $(document).ready(function() {
                            $(".add-more").click(function(){ 
                                var html = $(".copy").html();
                                $(".after-add-more").after(html);
                            });

                            $("body").on("click",".remove",function(){ 
                                $(this).parents(".control-group").remove();
                            });

                            });
                        </script>

                        <!-- hidden input field just to pass the name of course to CourseObj.js -->
                        <% objectives.forEach(function(rows,index) { %>
                        <div class="hide">
                            <input type="text" value="<%=rows.courseName%>" name="courseName" />
                        </div>
                        <% }); %>


                        <br>
                        <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                </form>

       </div>
    </div>




<!-- 
</div>

</div> -->
</div>



<!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
     <script src="/vendor/jquery/tether.js"></script>
     <script src="/vendor/jquery/waves.js"></script>
     <script src="/vendor/jquery/sidebarmenu.js"></script>
     <script src="/vendor/jquery/sticky-kit.min.js"></script>
     <script src="/vendor/jquery/custom.min.js"></script>

      <script src="/vendor/jquery/jquery.flot.js"></script>
     <script src="/vendor/jquery/jquery.flot.tooltip.min.js"></script>
     <script src="/vendor/jquery/flot-data.js"></script>
     <script src="/vendor/jquery/jQuery.style.switcher.js"></script>


    
    <!-- Bootstrap tether Core JavaScript -->
   
    
   



<div class="flotTip" style="position: absolute; background: rgb(255, 255, 255); z-index: 1040; padding: 0.4em 0.6em; border-radius: 0.5em; font-size: 0.8em; border: 1px solid rgb(17, 17, 17); white-space: nowrap; left: 865px; top: 493px; display: none;"></div>
</body>
</html>