<!DOCTYPE html>
<html>
<head>
    <title>Report Generation</title>
    <meta name="viewport" contesnt="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin.css">
</head>
<body style="background-color: #7e7e7e">



<div >
  <h3>CO report generation</h3>        
  <table class="table table-striped table-hover table-bordered">
    <thead>
          <% obj1.forEach(function(rows,index){
              var count=index;
          %>
                <tr>
                <td><%= rows.courseID %> </td>
                </tr>
         
                                          
    </thead> 
    <tbody>

                                             
                                             
                 <tr>
                          <td><%= obj[count].overallAttain %> </td>
                          <td><%= obj[count].year %> </td>
                  </tr>
                                                                      

                                                                    
                                                                 
                                                                  
                                                              <% console.log("obj2 check",obj2,obj2.length);
                                                                  console.log("obj2 value of a particual index",obj2[count+1]);%>


                                                              <%  var arr = [];
                                                                  arr = obj2[count+1];
                                                                  console.log("arrrrrrrrrrrrrrrrrrrrrrrr",arr);
                                                              //obj2.forEach((data,index)=>{%>

                                                                      
                                                                        
                                                                   

                                                                        <% arr.forEach((innerData,innerIndex)=>{
                                                                        console.log("inner data is ",innerData.toolName);%>



                                                                    <tr>
                                                                         <th><%= innerData.toolName %></th>
                                                                    </tr> 
                                                                        
                                                                    <tr>
                                                                         <td><%= innerData.targetMark %> 
                                                                        <br>
                                                                        <%= innerData.targetStud %> </td>
                                                                    </tr>
                                                                        
                                                                        


                                                                      <%});%>

                                                                  <%//});%>

                                                                  
                                                             
                                                                      



                                              
          <% }); %>
    </tbody>
  </table>


</div>



</body>
</html>